<div class='row'>
  <div class='col-xl-8 offset-xl-2'>
    <div class='table-responsive'>
      <div class='card shadow-sm'>
        <div class='card-header'>
          <h2 class='title text-center'>About</h2>
        </div>
        <div class='card-body text-center'>
          <p>I made this site to follow up on Ruqqus' statistics, if you want to make a suggestion make a thread in <%= link_to 'RuqqusMetrics', 'https://ruqqus.com/+RuqqusMetrics' %> Guild. Between my full-time job and other projects I don't have much free time, but I want to continuously improve this app.</p>

          <br />

          <h4>How can you help?</h4>

          <br />

          <p>If you want to contribute you can try using <a href='https://ruqqus.com/post/24xh/my-experience-with-different-platforms'>one of these platforms</a>, maybe you will earn a couple of dollars or maybe not, but you will be helping me and I need help. At this moment I'm spending about $16 USD per month in this app, it may not seem like much but I'm South American and here the salaries are low. If you want to help with BTC my wallet is 174QFATJQvN1KHGuiGD5sNBLCj1VYjh7H9</p>

          <p>Regards.</p>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
